/*slider*/
#main-page .item {
    height: 100%;
    width: 80%;
    margin: auto;
}

#main-page .slides-div {
  max-height:500px; 
  margin: 0 auto;
  margin-top: 50px;
}

#main-page .carousel-inner {
  height: 100%;
}

#main-page img {
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
  width: 100%;
}

/*carousel*/
#main-page .carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

#main-page {
  margin-top: 100px;
}

#testing-navbar {
  margin-top: 200px;
}

/*slider*/

.item {
    height: 100%;
    width: 80%;
    margin: auto;
}

.slides-div {
  max-height:500px; 
  margin: 0 auto;
  margin-top: 50px;
}

.carousel-inner {
  height: 100%;
}

img {
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
  width: 80%;
}

.blue {
  background-color: #333333;
  color: red;
  height: 210px;
}

.small-lbphoto {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: url(../images/xmas.jpg);
  background-size: cover;
  background-position: top;
  margin: 0 auto;
  border-top: 100px;
}

#main-page li {
  font-size: 4em;
  text-shadow: 2px 2px #933B4B;
  color: #B0C1CB;
}
