#main-page .photo {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  /*adding to have image span full width*/
  background-size: cover;
}

#main-page .photo span {
  /*removing to move text to middle of div*/
  /*bottom: 0;*/
  display: block;
  left: 50%;
  margin-left: -640px;
  font-size: 38px;
  padding: 10px;
  position: absolute;
  text-shadow: 0 2px 0 black, 0 0 10px black;
  width: 100%;
  /*width: 1280px;*/
}

#main-page .non-photo {
  padding: 0px 10px;
  height: 700px;
  position: relative;
  background-color: #333333;
  color: #B0C1CB;
}

#main-page .proj-pad {
  padding-top: 20px;
  padding-bottom: 10px;
}


#main-page .main-photo1 {
  background-image: url(../images/garage/garage.jpg);
}
#main-page .main-photo2 {
  background-image: url(../images/trellis2.jpg);
}

#main-page .small-lbphoto {
  height: 400px;
  width: 400px;
  border-radius: 200px;
  background-image: url(../images/krug.jpg);
  background-size: cover;
  background-position-x: -2px;
  background-position-y: -40px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid #933B4B 5px;
}

#main-page .lb-info {
  margin-bottom: 50px;
}

#main-page .name li {
  text-shadow: 2px 2px #933B4B;
  color: #B0C1CB;
}

#main-page .name p {
  font-size: 5em;
  text-shadow: 2px 2px #933B4B;
  color: #B0C1CB;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 20px;
}

#main-page .inline-block, #main-page .inline-block li {
  /* Setting a common base */
  margin: 0;
  padding: 0;
}

#main-page .inline-block li {
  display: inline-block;
  font-size: 3.5em;
  text-align: center;
  padding-left: 25px;
  padding-right: 20px;
}

#main-page .inline-block ul {
  text-align: center;
}

#main-page .lb-about {
  padding-right: 4em;
  padding-top: 20px;
}

#main-page .lb-about ul {
  padding-left: 25px;
  font-size: 20px;
}

#main-page .projects li {
  width: 49%;
}

#main-page {
  padding-top: 40px;
}

/*flipp*/

/* entire container, keeps perspective */
#main-page .flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
#main-page .flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

#main-page .flip-container, .front, .back {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* flip speed goes here */
#main-page .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
/*  position: relative;*/
  /*margin-top: 15px;*/
  margin: auto;
  width: 90%;
  height: 240px;
}

/* hide back of pane during swap */
#main-page .front, #main-page .back {
  backface-visibility: hidden;
  /*position: absolute;*/
  /*top: 0;
  left: 0;*/
}

/* front pane, placed above back */
#main-page .front {
  transform: rotateY(0deg);
/*adding for transparency*/
  /*position: relative;*/
  /*z-index: 5;*/
  /*color: #000;*/
  border-radius: 5px;
  border: 5px solid #112347;
  font-size: 12px;
}

/* back, initially hidden pane */
#main-page .back {
  transform: rotateY(180deg);
  border-radius: 5px;
  border: 5px solid #933B4B;
  font-size: 12px;
}

#main-page .flip-proj {
  margin-bottom: 30px;
}

#main-page .front-mailbox {
  background-image: url(../images/mailboxes/mbx1.jpg);
}

#main-page .front-birdhouse {
  background-image: url(../images/birdhouses/1front.jpg);
}

#main-page .front-minihouses {
  background-image: url(../images/mini-homes/ghome-front.jpg);
}

#main-page .front-project {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*width: 450px;*/
  height: 240px;

/*adding for transparency*/
  /*position: absolute;*/
  /*z-index: -1;*/
  opacity: .4;
  height: 100%;
}

#main-page .back-project {
  background-size: cover;
  height: 240px;
  margin-top: -240px;
  padding: 20px;
}

#main-page .front p {
  position: absolute;
  z-index: 5;
  width: 100%;
  padding-top: 75px;
}

#main-page .back p {
  font-size: 14px !important;
  text-shadow: none !important;
  z-index: 5;
  width: 100%;
  padding: 1em;
}

#main-page .box-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#main-page #mailbox-proj-title p {
  padding-top: 20px;
}

#main-page a:hover {
  text-decoration: none;
}

#main-page .email p {
  font-size: 32px;
}

#main-page .contact {
  padding-top: 50px;
}

#main-page .contact-title p {
  padding-bottom: 50px;
}

#main-page #contact-div {
  height: 600px !important;
}

#main-page .lb-about p {
  font-size: 24px;
}

@media only screen and (max-device-width: 480px) {
  #main-page .small-lbphoto {
    height: 300px;
    width: 300px;
  }
  #main-page .name p {
    font-size: 4em;
  }
  #main-page .inline-block li {
    font-size: 1.5em;
  }
  #main-page .lb-about p {
    font-size: 18px;
  }
}

@media only screen and (max-device-width: 360px) {
  html {
    max-width: 360px;
  }
  nav {
    max-width: 360px;
  }
  #main-page .name p {
    font-size: 3em;
  }
  #main-page .inline-block ul {
    font-size: 12px;
  }
  #main-page .inline-block li {
    padding-left: 10px;
    padding-right: 10px;
  }
  #main-page .small-lbphoto {
    height: 250px;
    width: 250px;
  }
  #main-page .lb-about {
    padding: 0px;
    padding-top: 20px;
    text-align: center;
  }
  #main-page .lb-about ul li {
    text-align: left;
  }
  #main-page .lb-about p {
    font-size: 14px;
  }
}




