/*COMMENTS*/
.project-page .comment {
  width: 500px;
  height:100px;
  border: solid #B0C1CB 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}
.project-page .submit-comment {
  margin: 0 auto;
}

.project-page .submit-comment input,.project-page .submit-comment textarea {
  width: 100%;
}

.project-page .comment-btns button {
  margin-left: 5px;
  margin-right: 5px;
}

.project-page .comment-btns {
  width: 100%;
  margin-top: 10px;
}

.project-page hr {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 45px;
}

.project-page .project {
  height: 100%;
}

.project-page .title-padding {
  padding-bottom: 25px;
  margin-bottom: 0px;
}

.project-page .project ul {
  margin-left: 1.5em;
}

.project-page .project-row {
  height: 100%;
}

.project-page .lf-proj-div, .project-page .rt-proj-div {
  height: 425px;
}

.project-page .addedComment {
  margin: auto;
  padding-bottom: 10px;
  width: 25%;
  border-radius: 5px;
}

.project-page .addedComment p {
  font-size: 24px;
}

.project-page .leaveComment {
  margin-bottom: 25px;
  font-size: 24px;
}

/*Carousel*/
.project-page .slides-div {
  margin-top: 10px;
}

.project-page img {
  max-height: 395px;
  width: 100%;
}

.project-page div.lf-proj-div.carousel-container {
  margin: auto;
}

.project-page div.lf-proj-div.text-container {
  padding-left: 30px;
}

/*Project pages*/
.project-page .title-header {
  font-size: 48px;
}

.project-page .text-container {
  font-size: 28px;
  margin-top: 20px;
}

.project-page .submit-comment input {
  margin-bottom: 10px;
}

.project-page {
  padding-top: 70px;
}

.btn-primary {
	border-color: #B0C1CB;
}

.project-page .btn:hover {
  background-color: #112347 !important;
  color: #B0C1CB;
  border-color: white;
}

@media (max-width: 1280px) {
	.project-page .text-container {
		font-size: 24px;
	}
}

@media (max-width: 1024px) {
	.project-page .text-container {
		font-size: 20px;
	}
	.project-page .carousel-container, .project-page .text-container{
    height: 325px;
	}
	.project-page #cyl-bird img {
	    width: 300px;
	}
}

@media (max-width: 768px) {
	.project-page .slides-div {
	    margin: 10px 50px;
	}
	.project-page .text-container {
		font-size: 20px;
		padding: 0px 50px;
		padding-top: 20px;
	}
	.project-page .project ul {
    	margin-left: 22px;
	}
	.project-page .text-container {
    	height: 300px;
	}
	#main-page .front p {
	    padding-top: 55px;
	}
}

@media (max-width: 480px) {
	.project-page .text-container {
		font-size: 16px;
		height: 240px;
	}
	.project-page .carousel-container {
		height: 250px;
	}
	.project-page #cyl-bird img {
	    width: 200px;
	    margin: 0 auto;
	}
    .project-page .slides-div {
    margin: 10px 20px;
	}
	.project-page .title-header {
	    font-size: 36px;
	}
	.project-page .leaveComment {
    	margin-bottom: 25px;
    	font-size: 14px;
	}
	.project-page hr {
	    width: 80%;
	    margin-top: 0;
	}
}

@media (max-width: 360px) {
	.project-page .title-header {
  		font-size: 32px;
  	}
  	.project-page .text-container {
	    font-size: 20px;
	}
	.project-page .lf-proj-div, .project-page .rt-proj-div {
	    height: 250px;
	}
	.project-page .text-container {
	    margin-top: 0px;
	}
	.project-page #cyl-bird img {
	    width: 144px;
	    margin: 0 auto;
	    margin-top: 70px;
	}
	.project-page .comment {
	    width: 90%;
	    height: 100px;
	    margin: 0 auto;
	}
	.project-page .comment-btns {
	    margin-bottom: 60px;
	}
	.project-page .leaveComment {
    	margin: 0px 15px 25px 15px;
    }
    #main-page .front p {
    	padding-top: 55px;
    }
}
