* {
  margin: 0;
  padding: 0;
}
body {
  font-family: avant garde;
  background-color: #333333;
}

.text-ctr {
  text-align: center;
}

/*GENERAL COLORS*/
.red {
  color: #933B4B;
}

.bkgd-red {
  background-color: #933B4B;
}

.white {
  color: #B0C1CB;
}

.bkgd-white {
  background-color: #B0C1CB;
}

.blue {
  color: #112347;
}

.bkgd-blue {
  background-color: #112347;
}
/*End colors*/


.float-rt {
  float: right;
}

.garage {
  background-image: url(../images/garage/garage.jpg);
}

/*navbar dropdown*/
.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: #B0C1CB;
}

.dropdown-toggle:hover {
  background-color: transparent;
  color: #B0C1CB;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color: transparent;
  color: #B0C1CB;
}

.navbar-brand:focus {
  color: #B0C1CB;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.navbar .nav > li {
z-index: 10000;
}

.dropdown-menu {
  z-index: 1050;
  padding: 0px;
  margin-right: 107px;
}

.navbar-brand, #nav-btn {
  font-size: 32px;
}

.navbar-right .btn-group {
  padding-right: 101px;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-brand {
  padding-left: 50px;
}

/*parallax*/
.container {
  width: 100% !important;
}

.btn-default {
  color: #B0C1CB;
}

/*navbar*/
.navbar-left {
  float: left;
  color: #B0C1CB;
}

.navbar-left a:hover {
  color: #B0C1CB;;
}

.navbar-right #nav-btn:hover {
  background-color: #933B4B
}

.navbar-right {
  height: 50px;
}

.navbar-right button {
  height: 50px;
  margin: auto;
  line-height: 20px;
  padding: 15px 15px;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: #933B4B;
  color: #B0C1CB;
}

.open>.dropdown-menu {
  margin-right: 50px;
  margin-top: -1px;
  font-size: 28px;
  line-height: 20px;
  background-color: #B0C1CB;
}

.dropdown-menu li a {
  color: #933B4B;
}

.navbar-default {
  background-image: none;
}

.navbar-right button:focus {
  border: none;
  background-color: #933B4B;
  color: #B0C1CB;
}

.btn .caret {
    margin-left: 5px;
}

@media (max-width: 1280px) {
  html, body{
    width:100%;
    overflow-x:hidden;
  }
  html {
    max-width: 1280px;
  }
  nav {
    max-width: 1280px;
  }
}

@media (max-width: 1224px) {
  .navbar-brand, #nav-btn {
    font-size: 28px;
  }
}

@media (max-width: 1024px) {
  html, body{
    width:100%;
    overflow-x:hidden;
  }
  html {
    max-width: 1024px;
  }
  nav {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  html, body{
    width:100%;
    overflow-x:hidden;
  }
  html {
    max-width: 768px;
  }
  nav {
    max-width: 768px;
  }
  .navbar-brand, #nav-btn {
    font-size: 24px;
  }
  .navbar-brand {
    padding-left: 20px;
  }
  .navbar-right .btn-group {
    padding-right: 0px;
  }
  .dropdown-menu {
    margin-left: -75%;
  }
  .open>.dropdown-menu {
    font-size: 24px;
}

@media (max-width: 480px) {
  html, body{
    width:100%;
    overflow-x:hidden;
  }
  html {
    max-width: 480px;
  }
  nav {
    max-width: 480px;
  }
  .navbar-brand, #nav-btn {
    font-size: 18px;
  }
  .navbar-right .btn-group {
    padding-right: 10px;
  }
  .navbar-brand {
    padding-left: 10px;
  }
  .open>.dropdown-menu {
    font-size: 18px;
  }
  html {
    max-width: 480px;
  }
  .dropdown-menu {
    margin-left: -40%;
  }
}

@media (max-width: 360px) {
  html, body{
    width:100%;
    overflow-x:hidden;
  }
  html {
    max-width: 360px;
  }
  nav {
    max-width: 360px;
  }
  .navbar-brand, #nav-btn {
    font-size: 18px;
  }
  .navbar-right .btn-group {
    padding-right: 10px;
  }
  .navbar-brand {
    padding-left: 10px;
  }
 .dropdown-menu li a {
    font-size: 18px;
 }
  #main-page .name p {
    font-size: 3em;
  }
  #main-page .inline-block ul {
    font-size: 12px;
  }
  #main-page .inline-block li {
    padding-left: 5px;
    padding-right: 5px;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .dropdown-menu {
    margin-left: -54%;
    background-color: #933B4B;
    color: #B0C1CB;
  }
}


