<!-- <div ng-controller="ParallaxExampleCtrl"> -->
<div id="mailboxes" ng-controller="MailboxesController">
	<div parallax-background class="photo mailbox1" parallax-ratio="0.5"><span style="font-size:1em;"></span>
	</div>
	<div class="container gray">
	  <div class="row">
	    <div class="col-sm-6">
	  		<div class="container2 theme-showcase" role="main">
				<div class="jumbotron2">
		    		<div class="small-mailbox1"></div>
	  				<h2>Mailbox with siding and tiered roof</h2>
		  		</div>
	      	</div>
	    </div>
	    <div class="col-sm-6">
	    	<div class="container2 theme-showcase" role="main">
				<div class="jumbotron2 no-padding">
	  				<h2>This mailbox was built in 2008 and the design was loosely modeled after designer's home residence.<br><br>Features:
	      				<ul>
	      					<li>Fish-scaled roof</li>
	      					<li>Vertically hinged front door</li>
	      					<li>Panel siding</li>
	      					<li>Handcrafted heart icons at the base</li>
	      				</ul>
	  				</h2>
		  		</div>
	      	</div>
	    </div>
	  </div>
	</div>
	<div parallax-background class="photo mailbox2" parallax-ratio="0.7">
	</div>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-6">
	  		<div class="container2 theme-showcase" role="main">
				<div class="jumbotron2">
		    		<div class="small-mailbox2"></div>
	  				<h2>Mailbox with siding and tiered roof</h2>
		  		</div>
	      	</div>
	    </div>
	    <div class="col-sm-6">
	    	<div class="container2 theme-showcase" role="main">
				<div class="jumbotron2 no-padding">
	  				<h2>This mailbox design was created for a neighbor.<br><br>Features:
	      				<ul>
	      					<li>Slated roof</li>
	      					<li>Vertically hinged front door</li>
	      					<li>Brick siding</li>
	      				</ul>
      				</h2>
		  		</div>
	      	</div>
	    </div>
	  </div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<strong>Name</strong>
				<input type="text" ng-model="newComment.name" class="form-control"></input>
			</div>
			<div class="row">
				<strong>Description</strong>
				<input type="text" ng-model="newComment.description" class="form-control"></input>
			</div>
			<button ng-click="sendComment()">Submit</button>
		</div>
	</div>
	<div class="row">
		<table class="allComments">
			<tr ng-repeat="comment in comments">
				<td>
					{{comment.name}}
				</td>
				<td>
					{{comment.description}}
				</td>
				<td>
					{{comment.date | date: 'MM/dd/yyyy hh:mm'}}
				</td>
			</tr>
		</table>
	</div>
</div>

