<div id="main-page" ng-controller="MainController">
  <div parallax-background class="non-photo" parallax-ratio="0.5">
    <div class="name inline-block">
      <p> Larry Bradley </p>
      <ul>
        <li>Designer</li>
        <li>Woodworker</li>
        <li>Craftsman</li>
      </ul>
    </div>
    <div class="lb-info">
      <div class="container gray">
        <div class="row">
          <div class="col-sm-6">
            <!-- <div class="container2 theme-showcase" role="main">
            <div class="jumbotron2"> -->
            <div class="small-lbphoto">
            </div>
              <!-- </div>
              </div> -->
          </div>
          <div class="col-sm-6 lb-about">
            <h3>Based in California's Napa Valley and specializing in one of a kind woodworking projects, Larry Bradley has been creating designs and making them come to fruition through his craftmanship talents for over 40 years.<br><br>
            Larry Bradley has completed various projects located throughout the Napa Valley. Some notable companies he's worked with are:<br><br>
              <ul>
                <li><a href="http://www.charleskrug.com">Charles Krug Winery</a></li>
                <li><a href="http://www.oliveoilsainthelena.com/">Napa Valley Olive Oil Manufacturing Co.</a></li>
                <li><a href="http://www.w3schools.com">Visit W3Schools</a>Sunrise Preschool</li>
              </ul>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div parallax-background class="photo main-photo1" parallax-ratio="0.5"><span style="font-size:1em;"></span>
  </div>
  <div parallax-background class="non-photo" parallax-ratio="0.5">
    <div class="name inline-block projects">
      <p> Projects </p>
      <ul>
        <li>Mailboxes</li>
        <li>Birdhouses</li>
        <li>Miniature Houses</li>
        <li>Garage</li>
      </ul>
    </div>
  </div>
  <div parallax-background class="photo main-photo2" parallax-ratio="0.7">
  </div>
  <div class="contact">
    <div class="email">
      Do you have a project you'd like designed or built? Perhaps you just have questions about an idea. Either way, feel free to contact us by clicking the email below.
      <div class="address">
      </div>
    </div>
  </div>
</div>

