<div id="main-page" ng-controller="MainController">
  <div parallax-background class="non-photo" parallax-ratio="0.5">
    <div class="name inline-block">
      <p> Larry Bradley </p>
      <ul>
        <li>Designer</li>
        <li>Woodworker</li>
        <li>Craftsman</li>
      </ul>
    </div>
    <div class="lb-info">
      <div class="container gray">
        <div class="row">
          <div class="col-sm-6">
            <div class="small-lbphoto">
            </div>
          </div>
          <div class="col-sm-6 lb-about">
            <h3>Based in California's Napa Valley and specializing in one of a kind woodworking projects, Larry Bradley has been creating designs and making them come to fruition through his craftmanship talents for over 40 years.<br><br>
            He has completed various projects located throughout the Napa Valley. Some notable companies he's worked with are:<br><br>
              <ul>
                <li><a href="http://www.charleskrug.com">Charles Krug Winery</a></li>
                <li><a href="http://www.oliveoilsainthelena.com/">Napa Valley Olive Oil Manufacturing Co.</a></li>
                <li><a href="https://www.facebook.com/sthelenajuniorwomen">St. Helena Junior Women's Club</a></li>
              </ul>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div parallax-background class="photo main-photo1" parallax-ratio="0.5"><span style="font-size:1em;"></span>
  </div>
  <div parallax-background class="non-photo" parallax-ratio="0.5">
    <div class="name inline-block projects">
      <p>Projects</p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 flip-proj">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <a ui-sref="mailboxes">
                <div class="flipper">
                  <div class="front">
                    <p>Mailboxes</p>
                    <div class="front-mailbox front-project"></div>
                  </div>
                  <div class="back back-project text-ctr">
                    <p>Larry loves building mailboxes. He first got the idea from </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 flip-proj">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <a ui-sref="birdhouses">
                <div class="flipper">
                  <div class="front">
                    <p>Birdhouses</p>
                    <div class="front-birdhouse front-project"></div>
                  </div>
                  <div class="back back-project text-ctr">
                    <p>Larry loves building one of a kind, custom designed birdhouses. Simply show him a photo of what you'd like the the house to be modeled after and he'll be able to draw up 3D designs that will satisfy your needs and expectations.<br><br>Click here to see a couple examples of what he can design.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 flip-proj">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <a ui-sref="minihouses">
                <div class="flipper">
                  <div id="mailbox-proj-title" class="front">
                    <p>Miniature<br>Houses</p>
                    <div class="front-minihouses front-project"></div>
                  </div>
                  <div class="back back-project text-ctr">
                    <p>This is the mini-houses information.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 flip-proj">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <a ui-sref="cathouses">
                <div class="flipper">
                  <div class="front">
                    <p>Cat Houses</p>
                    <div class="front-cathouses front-project"></div>
                  </div>
                  <div class="back back-project text-ctr">
                    <p>This is the cat houses information.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div parallax-background class="photo main-photo2" parallax-ratio="0.7">
  </div>
  <div parallax-background class="non-photo" parallax-ratio="0.5">
    <div class="contact">
      <div class="email">
        <p>Do you have a project you'd like designed or built? <br>
        Perhaps you have questions about an idea.<br>
        Either way, to inquire please contact us by clicking <a href="mailto:shbocceman@sbcglobal.net">here</a>.</p>
      </div>
    </div>
  </div>
</div>

