<div id="minihouses" class="project-page" ng-controller="ProjectController">
	<div class="full-container white">
		<div class="container project">
		  	<div class="row project-row">
		  		<p class="text-ctr title-padding title-header">Half Timber Model</p>
		    	<div class="col-md-7 col-xs-12 lf-proj-div carousel-container">
			    	<div class="slides-div">
				    	<carousel interval="myInterval" no-pause=true>
					      	<slide ng-repeat="slide in halfTimber" active="slide.active" no-pause=true>
					        	<img ng-src="{{slide.image}}">
					        	<div class="carousel-caption">
					          		<p>{{slide.text}}</p>
					        	</div>
					      	</slide>
				    	</carousel>
				  	</div>
				</div>
				<div class="col-md-5 col-xs-12 rt-proj-div text-container">
	  				<p>This miniature house was built for a family friend's garden. Inspired by German architecture, this is a half-timber model complete with shutters and window boxes.<br><br>Features:
	      				<ul>
	      					<li>Detailed windows and doors</li>
	      					<li>Batten seam roof</li>
	      				</ul>
	  				</p>
			    </div>
			</div>
		</div>
		<!-- <hr>
		<div class="container project">
		  	<div class="row project-row">
		  		<p class="text-ctr title-padding title-header">Brick Design Mailbox</p>
		  		<div class="col-sm-5 col-xs-12 lf-proj-div text-container">
	  				<p>This mailbox was built in 2008 for a neighbor.<br><br>Features:
	      				<ul>
	      					<li>Batten seam roof</li>
	      					<li>Brick painted siding</li>
	      					<li>Vertically hinged front door</li>
	      				</ul>
	  				</p>
			    </div>
		    	<div class="col-sm-7 col-xs-12 rt-proj-div carousel-container">
			    	<div class="slides-div">
				    	<carousel interval="myInterval" no-pause=true>
					      	<slide ng-repeat="slide in brick" active="slide.active" no-pause=true>
					        	<img ng-src="{{slide.image}}">
					        	<div class="carousel-caption">
					          		<p>{{slide.text}}</p>
					        	</div>
					      	</slide>
				    	</carousel>
				  	</div>
				</div>
			</div>
		</div> -->
		<hr>
		<div ng-show="addComment" class="text-ctr leaveComment">
			<p>Like this miniature house design? Leave a comment below.</p>
			<button type="button" class="btn bkgd-red white" ng-click="leaveComment()">Leave Comment</button>
		</div>
		<div ng-show="showFields">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-6">
						<div class="submit-comment">
							<form name="newComment" novalidate>
								<div id="errorBox">
									<div id="regularError" class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
								</div>
								<label>Name:</label>
								<input class="form-control" type="text" required ng-model="newComment.name" autofocus />
								<label>Comment:</label>
								<textarea class="form-control" rows="4" required ng-model="newComment.description"></textarea>
								<div class="comment-btns">
							    	<button class="btn text-ctr bkgd-red white float-rt" ng-click="sendComment(3,'minihouses')">Submit</button>
								    <button class="btn text-ctr bkgd-red white float-rt" ng-click="cancelComment()">Cancel</button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-3">
					</div>
				</div>
			</div>
		</div>
		<div ng-show="addedComment" class="addedComment">
			<p class="text-ctr red">Thank you for your comment.</p>
		</div>
		<div>
			<div ng-repeat="comment in comments">
				<div class="comment bkgd-blue white">
					<span> Posted by: <span class="white">{{comment.name}}</span></span>
					<span class="white float-rt">{{comment.date | date: 'MM/dd/yyyy hh:mm'}}</span><br>
					{{comment.description}}
				</div>
			</div>
		</div>
	</div>
</div>
			
