<!-- <div ng-controller="ParallaxExampleCtrl"> -->
<div id="main-page" ng-controller="MainController">
	<div class="name inline-block">
	    <p> Larry Bradley </p>
	    <ul>
	      <li>Designer</li>
	      <li>Woodworker</li>
	      <li>Craftsman</li>
	    </ul>
	  </div>
	  <div class="lb-info">
	    <div class="container">
	      <div class="row">
	        <div class="col-sm-6">
	          <!-- <div class="container2 theme-showcase" role="main">
	          <div class="jumbotron2"> -->
	              <div class="small-lbphoto"></div>
	            <!-- </div>
	            </div> -->
	        </div>
	        <div class="col-sm-6 lb-info">
	          <h2>Based in California's Napa Valley and specializing in one of a kind woodworking projects, Larry Bradley has been creating designs and making them come to fruition through his craftmanship talents for over 40 years.<br><br>
	          Larry Bradley has completed various projects located throughout the Napa Valley. Some notable companies he's worked with are:
	            <ul>
	              <li>Charles Krug Winery</li>
	              <li>Napa Valley Olive Oil Manufacturing Co.</li>
	              <li>Sunrise Preschool</li>
	            </ul>
	          </h2>
	        </div>
	      </div>
	    </div>
	  </div>
	<div parallax-background class="photo mailbox1" parallax-ratio="0.5"><span style="font-size:1em;"></span>
	</div>
	<div class="contact">
    <div class="email">
      <h1>Project Listings will go here</h1>
      <div class="address">
      </div>
    </div>
  </div>
	<div parallax-background class="photo mailbox2" parallax-ratio="0.7">
	</div>
	<div class="contact">
    <div class="email">
      Do you have a project you'd like designed or built? Perhaps you just have questions about an idea. Either way, feel free to contact us by clicking the email below.
      <div class="address">
      </div>
    </div>
  </div>
</div>

